<footer>
  <p title="This site is optimized for robots and humans alike.">This site is optimized for robots 🤖 and humans 🧑 alike. (c) William Nunes.</p>
  <p>
    <a href="mailto:will.nunes@proton.me"><span aria-hidden="true">&#9993;</span> Email</a> |
    <a href="https://www.linkedin.com/in/william-nunes-a3898b37/" target="_blank" rel="noreferrer noopener"><span aria-hidden="true">&#8505;</span> LinkedIn</a> |
    <a href="https://github.com/th30ne-W" target="_blank" rel="noreferrer noopener"><span aria-hidden="true">&#9733;</span> GitHub</a>
  </p>
</footer>
